{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "react-app",
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "indent": ["error", 4],
    "react/state-in-constructor": [0],
    "react/jsx-indent" : ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "array-callback-return": ["error", {"allowImplicit": true}],
    "complexity": ["error", { "max": 10 }],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/prefer-regexp-exec": "off",
    "no-param-reassign": "off",
    "comma-dangle": ["error", {
      "functions": "never"
    }],
    "import/extensions": 0,
    "linebreak-style": 0,
    "global-require": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "implicit-arrow-linebreak": [0],
    "@typescript-eslint/no-explicit-any": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "rules": {
        "no-console": "off",
        "import/extensions": [
          "warn",
          "always",
          {
            "ignorePackages": true
          }
        ]
      }
    }
  ]
}
